@import './base.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#app {
  min-height: 100vh;
  max-width: 100%;
  /* margin: 0 auto; */
  padding: 2rem;

  font-weight: normal;

  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */

  background-image: url('../assets/img/BackgroundMobile.jpg');
  background-repeat: no-repeat;
  background-size: 145%;
  background-attachment: fixed;
}

@media (min-width: 450px) {
  #app {
    background-image: url('../assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }
}

a,
.green {
  text-decoration: none;
  color: #212529;
  transition: 0.4s;
}

.blur {
  box-shadow: inset 0px 0px 2px rgba(254, 254, 254, 0.8196078431);
  -webkit-backdrop-filter: saturate(200%) blur(30px);
  backdrop-filter: saturate(200%) blur(30px);
  background-color: rgba(255, 255, 255, 0.8) !important;
}